<ion-view view-title="Actividades">
 <div class="list">
  <div class="bar bar-subheader item-input-inset
      bar-light">
    <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
      <input type="search"  ng-model="query"  placeholder="Buscar">
    </label>
    <button class="button button-small button-royal"  ui-sref="app.newActivity">
   <i class="ion-plus-circled"></i>
    </button>
  </div>
</div>
  <ion-content class="has-subheader">
    <h1>Browse</h1>
  </ion-content>
</ion-view>
