<ion-view title="{{titleLocation}}">
<div class="bar bar-subheader item-input-inset
      bar-light">
    <label class="item-input-wrapper">
    <i class="icon ion-search placeholder-icon"></i>
      <input type="search"  ng-model="query"  placeholder="Buscar">
    </label>
  </div>
  <ion-content class="has-subheader">
     <ion-list >
     <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="refreshItems()" >
    </ion-refresher >
      <ion-item class="item" ng-repeat="post in posts | filter:query" href="#app/locations/map/{{post.place_id}}">
      <div class="item item-divider item-divider-calm">
      <h2 >{{ post.name }}</h2>
      </div>
      <div class="item item-icon-left item-list item-text-wrap dayhighlight">
        <i class="icon ion-map"></i>
        <p class="post-address">{{ post.formatted_address }}</p>
     </div>
      </ion-item>
     </ion-list>  
  </ion-content>
</ion-view>
