<ion-view title="Lugares">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

   <div class="list">

  <a class="item item-icon-left" href="#/app/locations/1">
    <i class="icon ion-scissors"></i>
     Peluquerias
  </a>
<a class="item item-icon-left" href="#/app/locations/2">
    <i class="icon ion-heart"></i>
     Guarderías
  </a>
  <a class="item item-icon-left" href="#/app/locations/3">
    <i class="icon ion-bag"></i>
     Tiendas 
  </a>
  <a class="item item-icon-left" href="#/app/locations/4">
    <i class="icon ion-medkit"></i>
     Clínicas veterinarias 
  </a>
 <a class="item item-icon-left" href="#/app/locations/5">
    <i class="icon ion-ios-paw-outline"></i>
     Otros 
  </a>
</div>

  </ion-content>
</ion-view>