<ion-view view-title="Mapa">
  <ion-content class="has-header">
      <div class="list card">
      <div class="item item-image">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true">
            <ui-gmap-marker idKey="1" coords="marker" click="locationClicked(marker)" ></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
      <div class="item">
          <h2>{{placelocation.name}}</h2>
          <p class="post-address">{{placelocation.formatted_address}}</p>
          <p class="post-address">{{placelocation.international_phone_number}}</p>
      </div>
      </div>
  </ion-content>
</ion-view>
